.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.loader-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loader-sm {
  width: 40px;
  height: 40px;
}

.loader-lg {
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-primary-green);
  animation: loader 1.2s linear infinite;
}

.loader-sm div {
  width: 8px;
  height: 8px;
}

.loader-lg div {
  width: 18px;
  height: 18px;
}

.loader div:nth-child(1) {
  top: 25px;
  left: 0;
  animation-delay: 0s;
  background-color: var(--color-primary-blue);
}

.loader div:nth-child(2) {
  top: 13px;
  left: 13px;
  animation-delay: -0.4s;
  background-color: var(--color-primary-green);
}

.loader div:nth-child(3) {
  top: 0;
  left: 25px;
  animation-delay: -0.8s;
  background-color: var(--color-light-green);
}

.loader-text {
  margin-top: 1rem;
  font-size: 14px;
  color: var(--color-primary-blue);
}

@keyframes loader {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}